{% include header.html %}

    {% include title-group.html %}

    <article>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div id="photo-header" class="text-center">
              <!-- PHOTO (AVATAR) -->
              <div id="photo">
                <img src="img/avatar.jpg" alt="avatar">
              </div>
              <div id="text-header">
                <h1>Heyo!<br> Ik ben <span>Niels Gouman</span></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <!-- ABOUT ME -->
            <div class="box">
              <h2>In het kort</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, non, dolorem, cumque distinctio magni quam expedita velit laborum sunt amet facere tempora ut fuga aliquam ad asperiores voluptatem dolorum! Quasi.</p>
            </div>
            <!-- EDUCATION -->
            <div class="box">
              <h2>Opleiding</h2>
              <ul id="education" class="clearfix">
                <li>
                  <div class="year pull-left">2009</div>
                  <div class="description pull-right">
                    <h3>Avans Hogeschool</h3>
                    <p>Na het Davinci ben ik doorgegaan naar het HBO. Bedrijfskundige Informatica, bij Avans in Breda. Door omstandigheden helaas van korte duur.</p>
                  </div>
                </li>
                <li>
                  <div class="year pull-left">2005</div>
                  <div class="description pull-right">
                    <h3>Davinci College</h3>
                    <p>Op het Davinci (MBO 4) heb ik me verder verdiept in computers. Zelf was ik altijd al bezig met het bouwen van computers, en opa helpen met al zijn digitale problemen. Op het Davinci kwam daar ook systeem beheer bij. Eerst alleen op Windows, maar later ook met Linux. Daarnaast ging ik als applicatie ontwikkelaar aan de slag met HTML, maar vooral Java. </p>
                  </div>
                </li>
                <li>
                  <div class="year pull-left">2001</div>
                  <div class="description pull-right">
                    <h3>Insula College</h3>
                    <p>Op het Insula College ben ik begonnen op VWO niveau, helaas bleek in het eerste jaar al gelijk dat vreemde talen niet mijn sterkste kant is, en dus ben ik vanaf het 2e jaar verder gegaan op het VMBO. Eenmaal verwezen naar het VMBO werd het allemaal erg makkelijk en heb ik moeiteloos mijn diploma behaald.</p>

<p>Vakkenpakket: Nederlandse taal, Maatschappijleer, Lichamelijke opvoeding, Kunstvakken 1, Wiskunde, Natuur- en Scheikunde 1, Aardrijkskunde en economie</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- EXPERIENCES -->
            <div class="box">
              <h2>Ervaring</h2>
              <div class="job clearfix">
                <div class="col-xs-3">
                  <div class="where">Google</div>
                  <div class="year">2013 - 2014</div>
                </div>
                <div class="col-xs-9">
                  <div class="profession">Front-end developer / php programmer</div>
                  <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, et, illum perferendis veritatis velit sunt similique qui magni totam harum tempore eius laboriosam accusantium necessitatibus voluptatum? Enim, itaque dignissimos quia.</div>
                </div>
              </div>
              <div class="job clearfix">
                <div class="col-xs-3">
                  <div class="where">Twitter</div>
                  <div class="year">2012</div>
                </div>
                <div class="col-xs-9">
                  <div class="profession">Web Developer</div>
                  <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, nihil sit nemo voluptatem praesentium. Quia, qui facere consectetur libero asperiores fugiat consequuntur deserunt culpa repudiandae sed quidem voluptas explicabo soluta.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <!-- CONTACT -->
            <div class="box clearfix">
              <h2>Contact</h2>
              <div class="contact-item">
                <div class="icon pull-left text-center"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
                <div class="title only pull-right">+316 121 322 95</div>
              </div>
              <div class="contact-item">
                <div class="icon pull-left text-center"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="title only pull-right">mail@NielsGouman.nl</div>
              </div>
              <div class="contact-item">
                <div class="icon pull-left text-center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div class="title only pull-right"><a href="http://twitter.com/NielsGouman">Twitter</a></div>
              </div>
              <div class="contact-item">
                <div class="icon pull-left text-center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="title only pull-right"><a href="http://facebook.com/nielsgouman">Facebook</a></div>
              </div>
              <div class="contact-item">
                <div class="icon pull-left text-center"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div class="title only pull-right"><a href="http://www.linkedin.com/in/NielsGouman">LinkedIn</a></div>
              </div>
            </div>
            <!-- SKILLS -->
            <div class="box">
              <h2>Skills</h2>
              <div class="skills">Karate</div>
            </div>
            <!-- LANGUAGES -->
            <div class="box">
              <h2>Talen</h2>
              <div id="language-skills">
                <div class="skill">Nederlands <div class="pull-right"><i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i></div></div>
                <div class="skill">English <div class="pull-right"><i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star-o fa-lg" aria-hidden="true"></i></div></div>
              </div>
            </div>
            <!-- HOBBIES -->
            <div class="box">
              <h2>Hobbies &amp; Interesse's</h2>
              <div class="hobby">Karate</div>
              <div class="hobby">Sport</div>
              <div class="hobby">Gezondheid</div>
              <div class="hobby">Aliens</div>
              <div class="hobby">Bier</div>
              <div class="hobby">Thee</div>
              <div class="hobby">Productiviteit</div>
              <div class="hobby">Duurzaamheid</div>
              <div class="hobby">Home Automation</div>
            </div>
          </div>
        </div>
      </div>
    </article>

{% include footer.html %}
