---
layout: compress
---
{% include header.html %} {% include title-group.html %}

<article>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="photo-header" class="text-center">
                    <!-- PHOTO (AVATAR) -->
                    <div id="photo">
                        <img src="img/avatar.jpg" alt="avatar">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
              <h2>Profiel</h2>
              <p>Volgens een enquête van monsterboard leest 65% van werkend Nederland maximaal 1 boek per jaar. Ik ben een uitzondering op dat gemiddelde. Je kunt mij omschrijven als een lifelong learner, ik ben altijd een cursus aan het volgen, een boek aan het lezen, of een informatieve podcast aan het luisteren. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <!-- EDUCATION -->
                <div class="box">
                    <h2>Opleiding</h2>
                    <ul id="education" class="clearfix">
                        <li>
                            <div class="year pull-left">2009</div>
                            <div class="description pull-right">
                                <h3>Avans Hogeschool</h3>
                                <p>Na het Davinci heb ik mijn opleiding vervolgd aan het HBO. Bedrijfskundige Informatica, bij Avans in Breda. Door omstandigheden helaas van korte duur.</p>
                            </div>
                        </li>
                        <li>
                            <div class="year pull-left">2005</div>
                            <div class="description pull-right">
                                <h3>Davinci College <sup><i class="fa fa-graduation-cap" aria-hidden="true"></i></sup></h3>
                                <p>Op het Davinci (MBO 4) heb ik me verder verdiept in IT. Zelf was ik altijd al actief met het samenstellen van computers, en relaties helpen met hun digitale problemen. Op het Davinci kwam daar ook systeem beheer bij. Eerst op Windows, later ook met Linux. Tevens ging ik als applicatie ontwikkelaar aan de slag met HTML, maar vooral Java. </p>
                            </div>
                        </li>
                        <li>
                            <div class="year pull-left">2001</div>
                            <div class="description pull-right">
                                <h3>Insula College <sup><i class="fa fa-graduation-cap" aria-hidden="true"></i></sup></h3>
                                <p>Op het Insula College ben ik begonnen op VWO niveau, helaas bleek in het eerste jaar al gelijk dat vreemde talen niet mijn sterkste kant is, en dus ben ik vanaf het 2e jaar verder gegaan op het VMBO. Eenmaal verwezen naar
                                    het VMBO werd het allemaal erg makkelijk en heb ik moeiteloos mijn diploma behaald.</p>

                                <p>Vakkenpakket: Nederlandse taal, Maatschappijleer, Lichamelijke opvoeding, Kunstvakken 1, Wiskunde, Natuur- en Scheikunde 1, Aardrijkskunde en economie</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- CURSUSSEN -->
                <div class="box">
                    <h2>Cursussen &amp; Trainingen</h2>
                    <div class="col-xs-12 col-sm-6">
                      <ul>
                    {% for item in site.data.trainingen %}
                      {% assign loopindex = forloop.index | modulo: 2 %}
                      {% if loopindex == 1 %}
                      <li>{{ item.text }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <ul>
                {% for item in site.data.trainingen %}
                  {% assign loopindex = forloop.index | modulo: 2 %}
                  {% if loopindex == 0 %}
                  <li>{{ item.text }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            </div>
          </div>
            <div class="col-xs-12 col-sm-5">
                <!-- CONTACT -->
                <div class="box clearfix">
                    <h2>Contact</h2>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
                        <div class="title only pull-right">+316 121 322 95</div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="title only pull-right">mail@NielsGouman.nl</div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        <div class="title only pull-right"><a href="http://twitter.com/NielsGouman">Twitter</a></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        <div class="title only pull-right"><a href="http://facebook.com/nielsgouman">Facebook</a></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        <div class="title only pull-right"><a href="http://www.linkedin.com/in/NielsGouman">LinkedIn</a></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-book" aria-hidden="true"></i></div>
                        <div class="title only pull-right"><a href="https://www.goodreads.com/nizzlay">Goodreads</a></div>
                    </div>
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><i class="fa fa-download" aria-hidden="true"></i></div>
                        <div class="title only pull-right"><a href="/downloads/CV%20-%20Niels%20Gouman.pdf">Download CV</a></div>
                    </div>
                </div>
                <!-- SKILLS -->
                <div class="box">
                    <h2>Skills</h2> {% for item in site.data.skills %}
                    <div class="skills">{{ item.text }}</div>
                    {% endfor %}
                </div>
                <!-- LANGUAGES -->
                <div class="box">
                    <h2>Talen</h2>
                    <div id="language-skills">
                        <div class="skill">Nederlands
                            <div class="pull-right"><i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="skill">English
                            <div class="pull-right"><i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i> <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SPORT -->
                <div class="box">
                    <h2>Sport</h2>
                    <h3>Karate (2e kyu kyokushin)</h3>
                    <p>Begonnen toen ik een jaar of 8 was, lid geweest van verschillende sportscholen, nog steeds mee actief. De discipline, diepgang, etiquette, en (fysieke) uitdaging spreken mij enorm aan. Momenteel train ik kyokushin (volcontact) karate bij Omegasport in Dordrecht en heb ik de graad van 2e kyu behaald.</p>
                </div>
                <!-- EIGENSCHAPPEN -->
                <div class="box">
                    <h2>Eigenschappen</h2>
                    {% for item in site.data.eigenschappen %}
                    <div class="kenmerk">{{ item.text }}</div>
                    {% endfor %}
                </div>
                <!-- HOBBIES -->
                <div class="box">
                    <h2>Hobbies &amp; Interesse's</h2> {% for item in site.data.hobbies %}
                    <div class="hobby" data-toggle="tooltip" data-placement="top" title="{{ item.text }}">{{ item.label }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- EXPERIENCES -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <h2>Ervaring</h2>
                    {% for item in site.data.ervaring %}
                    <div class="job clearfix">
                        <div class="col-xs-3">
                            <div class="where"><h3>{{ item.waar }}</h3></div>
                            <div class="year"><p>{{ item.jaar }}</p></div>
                        </div>
                        <div class="col-xs-9">
                            <div class="profession"><h3>{{ item.beroep }}</h3></div>
                            <div class="description"><p>{{ item.omschrijving }}</p></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="box">
                    <h2>Vrijwilligerswerk</h2>
                    {% for item in site.data.vrijwilligerswerk %}
                    <div class="job clearfix">
                        <div class="col-xs-3">
                            <div class="where"><h3>{{ item.waar }}</h3></div>
                            <div class="year"><p>{{ item.jaar }}</p></div>
                        </div>
                        <div class="col-xs-9">
                            <div class="profession"><h3>{{ item.beroep }}</h3></div>
                            <div class="description"><p>{{ item.omschrijving }}</p></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>

{% include footer.html %}
